<%- include('./partials/head.ejs') %>

<div class="container-lg border-start border-4 border-light">
    <div class="text-center">
        
        <form action="/blogs" method="POST">
            <div class="row justify-content-center align-items-center my-3">
                <div class="col-1">
                    <label for="title" class="col-form-label">Title: </label>
                </div>
                <div class="col-11">
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-pencil-fill"></i></span>
                        <input type="text" id="title" name="title" class="form-control" placeholder="Title of the blog" required>
                    </div>
                    
                </div>
            </div>
            <div class="row justify-content-center align-items-center my-2">
                <div class="col-1">
                    
                </div>
                <div class="col-11 form-floating">
                    <textarea id="body" name="body" class="form-control"  style="height: 500px;" resize="vertical" required> </textarea>
                    <label for="body" class="body">Start writing....</label>
                </div>
            </div>

            <button type="submit" class="btn btn-success">Submit</button>    
        </form>
        </div>
</div>

<%- include('./partials/footer.ejs') %>
